/* フォントの書式 */
.font-kind{
    font-family: cursive;
}

/* aタグの下線消し */
.a-decoration{
    color: white;
    text-decoration: none;
}

/* トップメニュー(最上部) */
.top-menu{
    height: 100px;
    width: 100%;
    background-color: black;
    font-size: 2em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

/* トップメニュー(最上部)の中身 */
.top-menu-block{
    padding:10px;
    color: white;
    margin: auto 0;
}

/* 自己紹介画像 */
.self-img{
    margin-top: 50px;
    border-radius: 50%;
}


/* タイトル(ABOUT) */
.title-about{
    margin-top: 100px;
}
.title-about h2{
    font-size: 3rem;
    text-align: center;
}

.self-introduction{
    display: flex;
    justify-content: space-around;
}

.self-name{
    text-align: center;
    font-size: 2rem;
}

/* ABOUTの説明(言語など) */
.self-list{
    list-style: none;
}

.self-list-ol{
    list-style-type: none;
}

/* タイトル(SKILL) */
.title-skill{
    margin-top: 100px;
}

.title-skill h2{
    font-size: 3rem;
    text-align: center;
}

/*触ったことがある技術*/
.skill-block{
    width: 100%;
    height:300px;

}

.fontend-block{
    margin-left: 10%;
}

.backend-block{
    margin-left: 10%;
}

.infura{
    margin-left: 10%;
}

.font-gray{
    color: gray;
}
